<div class="container p-3">
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="callCompany()">Call a Company URL (see console)</button>
        </div>
    </div>
    <div class="row contrast-bg my-3 p-3 rounded">
        <div class="col-12 text-center">
            <h4>This is the "JS" test</h4>
            <p>The button above, does a get (which does not get a response because the url is fictitious) where it is possible to open the HttpRequest and see the dynamic headers being added by the interceptor service</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row contrast-bg my-3 p-3">
        <div class="col-12 text-center">Above here, no bootstrap</div>
    </div>
</div>
<app-comment-list [commentsList]="commentsList"></app-comment-list>